<h2>Reporter output</h2><table><tr><td>Patient Profile selection successfull</td></tr>
<tr><td>Login successfull</td></tr>
<tr><td>Patient Name is not valid one</td></tr>
<tr><td>Patient DOB is not valid one</td></tr>
<tr><td>Patient Email Address is not valid one</td></tr>
<tr><td>Patient ID is not valid one</td></tr>
<tr><td>Patient Gender is not valid one</td></tr>
<tr><td>Patient Address is not valid one</td></tr>
<tr><td>Logout successfull</td></tr>
</table>